<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">
                
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Drupal</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
                        
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>ReactJS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
	    <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Javascript</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
		
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="89%">
                <div class="skillbar-title"><span>Php</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">89%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
	<!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Spanish</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
            
        </div>
	    
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Designs skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Gimp</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
    
            <!-- /.skillbar -->
        </div>
	    
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Office Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
              
	</div>
          
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Work out</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
        </div>
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Senior Drupal fullstack developer <span class="duration"><i class="fa fa-calendar color"></i> 2017 - present</span></h5>
                <h6><span class="fa fa-briefcase"></span> Bits Américas </h6>
                <p>Building Web Sites with the latest technologies in front end like ReactJS.</p>
		<p>Building custom Responsive Drupal Themes with CSS / SCSS, Bootstrap 4, JQuery, Twig , gulp, bowner.js.</p>
		<p>Work with Scrum methodology.</p>    
		<p>Continuous integration / Devops. (Jira, Github, Jenkins,) with deployments in AWS.</p> 
		<p>Achievements:</p>    
		<p>I led the digital transformation team with the current client, managing to implement the latest technologies 
		such as Atomic design, continuous inspection with sonarQube, execution of Webpack tasks and consumption of 
		services with Qvantel; in this way we managed to improve the user experience 100% and 35% preformance in the 
		web application.</p>    
            </li>
            <li>
                <h5>Front End Developer <span class="duration"><i class="fa fa-calendar color"></i> 2016 - 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> Dayscript</h6>
                <p>Development of new functionalities for clients such as: Banco de la Republica, Luis Angel Arango, among others, 
		implementing the latest technologies and first mobile methodologies for responsive developments.
                Implementation of grunt for the standardization of design patterns, compilation of code under LESS, 
		using Drupal CMS as a working tool, good practices such as transferring files in console under SSH, source 
		code collaboration using Github version control and using Drush as a development tool.</p>
            </li>
	    <li>
                <h5>Drupal Developer <span class="duration"><i class="fa fa-calendar color"></i> 2015 - 2016</span></h5>
                <h6><span class="fa fa-briefcase"></span> E-Sinergia</h6>
                <p>Custom development, implemented Web Service for connecting different websites, creation of forms with client-side 
	        technology and server with AJAX validation, CSS pre-processors like LESS or SASS using Boostrap as a framework for 
	        creating web interfaces. Use development tools such as file transfer under SSH, source code collaboration using Github 
	        version control and Drush execution.</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Petroleum engineering <span class="duration"><i class="fa fa-calendar color"></i> 2006 - 2011</span></h5>
                <h6><span class="fa fa-book"></span>Fundación Universidad de América</h6>
            </li>
            <li>
                <h5>Conversational English Advanced <span class="duration"><i class="fa fa-calendar color"></i> 2004</span></h5>
                <h6><span class="fa fa-book"></span>The Meyer Institute</h6>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
</div>

</div>
<!-- End .resume -->
